@model IEnumerable<BaseStudentApp.ViewModel.IspitiStudenataVM>

@{
    ViewBag.Title = "FullList";
    WebGrid grid = new WebGrid(source: Model, canSort: false);
}


<div id="main" style="padding:25px; background-color:white;">
            <h2>FullList</h2>


                @grid.GetHtml(
                            htmlAttributes: new { id = "MainGrid", width = "700px" },
                            tableStyle: "table table-bordered table-responsive",

                            columns: grid.Columns(
                                    grid.Column("Studenti.BiStudent", "Indeks Studenta"),
                                    grid.Column("Studenti.sName", "Ime"),
                                    grid.Column("Studenti.sLastname", "Prezime"),
                                    grid.Column("Studenti.City", "Grad"),


                                    grid.Column(format: (item) =>
                                    {
                                        WebGrid subGrid = new WebGrid(source: item.Ispiti);
                                        return subGrid.GetHtml(
                                            htmlAttributes: new { id = "SubGrid" },
                                            columns: subGrid.Columns(

                                                    subGrid.Column("Predmet", "Name"),
                                                    subGrid.Column("Ocena", "Ocena"),
                                                    subGrid.Column("BiSt", "Br. indeksa")
                                                )
                                            );
                                    })
                                )
                            )
            </div>
    @*<script>
        $(document).ready(function () {
            //gets the size of the tabl(colmns)
            var size = $("#main #MainGrid > thead > tr >th").size();
            //removes the last column to display sbgrid
            $("#main #MainGrid > thead > tr >th").last().remove();
            //adding new column for sbgrid header
            $("#main #MainGrid > thead > tr").prepend("");
            $("#main #MainGrid > tbody > tr").each(function (i, el) {
                $(this).prepend(
                    $("")
                        .addClass("expand")
                        .addClass("hoverEff")
                        .attr('title', "click for show/hide")
                );

                //Now get sub table from last column and add this to the next new added row
                var table = $("table", this).parent().html();
                //add new row with this subtable
                $(this).after("" + table + "");
                    $("table", this).parent().remove();
                // click event that makes row collapsable
                $(".hoverEff", this).live("click", function () {
                    $(this).parent().closest("tr").next().slideToggle(100);
                    $(this).toggleClass("expand collapse");
                });
            });
            //subgrid is collapsed by default
            $("#main #MainGrid > tbody > tr td.expand").each(function (i, el) {
                $(this).toggleClass("expand collapse");
                $(this).parent().closest("tr").next().slideToggle(100);
            });
        });
    </script>*@
    @*<style>
        /*Here I will write some css for looks good*/

        th, td {
            padding: 5px;
        }

        th {
            background-color: lightgreen;
        }

        #MainGrid, #MainGrid tr {

            border: 1px solid #0D857B;
        }

        #SubGrid, #SubGrid tr {
            border: 1px solid green;
            position: absolute;
            left:0;
        }

        #SubGrid {
            margin: 0px 0px 0px 10px;
            padding: 5px;
            width: 95%;
        }

            #SubGrid th {
                font-size: 12px;
            }

        .hoverEff {
            cursor: pointer;
        }

            .hoverEff:hover {
                background-color: rgb(248, 242, 242);
            }

        .expand {
            background-image: url(/Images/plus.png);
            background-position-x: -22px;
            background-repeat: no-repeat;
        }

        .collapse {
            background-image: url(/Images/plus.png);
            background-position-x: -2px;
            background-repeat: no-repeat;
        }
    </style>*@
<script>
/* Formatting function for row details - modify as you need */


$(document).ready(function() {
    var table = $('#example').DataTable( {
        "ajax": "../ajax/data/objects.txt",
        "columns": [
            {
                "className":      'details-control',
                "orderable":      false,
                "data":           null,
                "defaultContent": ''
            },
            { "data": "name" },
            { "data": "position" },
            { "data": "office" },
            { "data": "salary" }
        ],
        "order": [[1, 'asc']]
    } );

    // Add event listener for opening and closing details
    $('#example tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );

        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
        }
    } );
} );
</script>