@using BaseStudentApp;
@{
    ViewBag.Title = "Studenti i ispiti";
}




<div class="row">
    <div class="col-md-4">
        <h2>Upisivanje ispita</h2>
        <p>Kliknite na link ispod.</p>
        <p style="color:black;">@Html.ActionLink("Upisite ispit", "Create", "Ispit")></p>
    </div>
    <div class="col-md-4">
        <h2>Upis studenta</h2>
        <p>Kliknite na link ispod.</p>
        <p style="color:black;">@Html.ActionLink("Upisi studenta", "addStudent", "Student")></p>
    </div>
    </div>
<div class="row">
    <div class="col-md-4">
        <h2>Lista studenata</h2>
        <p>KLiknite na link ispod.</p>
        <p style="color:black;">@Html.ActionLink("Vidi listu studenata", "getStudent", "Student")></p>
    </div>

    <div class="col-md-4">
        <h2>Pregled master liste</h2>
        <p>Kliknite na link ispod.</p>
        <p style="color:black;">@Html.ActionLink("Master lista", "MasterLista", "Home")></p>
    </div>
</div>
